@import url('https://fonts.googleapis.com/css2?family=Quicksand');

.quickSand {
  font-family: 'Quicksand'
}

.link-dark {
  @apply text-white;
  cursor: pointer;

  &:hover,
  &:focus {
      @apply text-primary-light;
  }

  &:active {
      @apply text-white;
      @apply font-bold;
  }

  &:disabled {
      pointer-events: none;
      @apply text-neutral-light
  }
}
