<template>
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M9.12192 14.3946V8.5816H11.0731L11.3652 6.31618H9.12192V4.86978C9.12192 4.21391 9.30408 3.76689 10.2447 3.76689L11.4443 3.76634V1.74019C11.2368 1.71268 10.5247 1.65102 9.69626 1.65102C7.96666 1.65102 6.78254 2.70671 6.78254 4.64554V6.31625H4.82629V8.58166H6.78248V14.3946L9.12192 14.3946Z"
      fill="currentcolor" />
  </svg>
</template>