<template>
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M1.59998 3.02086C1.59998 2.60901 1.74412 2.26924 2.03241 2.00155C2.32069 1.73385 2.69548 1.60001 3.15673 1.60001C3.60976 1.60001 3.97629 1.73179 4.25635 1.99537C4.54463 2.26719 4.68878 2.62136 4.68878 3.05792C4.68878 3.45329 4.54876 3.78275 4.2687 4.04634C3.98042 4.31815 3.60152 4.45406 3.13202 4.45406H3.11967C2.66664 4.45406 2.30011 4.31815 2.02005 4.04634C1.74 3.77452 1.59998 3.43269 1.59998 3.02086ZM1.76059 13.8317V5.57838H4.50345V13.8317H1.76059ZM6.02314 13.8317H8.766V9.22317C8.766 8.93488 8.79895 8.71248 8.86484 8.55599C8.98015 8.27594 9.15519 8.03912 9.38994 7.84557C9.62469 7.652 9.91915 7.55522 10.2733 7.55522C11.1959 7.55522 11.6571 8.17709 11.6571 9.42086V13.8317H14.4V9.09962C14.4 7.88057 14.1117 6.95599 13.5351 6.32588C12.9585 5.69576 12.1966 5.3807 11.2494 5.3807C10.1868 5.3807 9.35905 5.83784 8.766 6.75213V6.77684H8.75364L8.766 6.75213V5.57838H6.02314C6.03961 5.84196 6.04785 6.66152 6.04785 8.03707C6.04785 9.41262 6.03961 11.3441 6.02314 13.8317Z"
      fill="currentcolor" />
  </svg>
</template>