<template>
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M5.62532 13.0462C10.4555 13.0462 13.0974 9.25775 13.0974 5.97246C13.0974 5.86485 13.0974 5.75774 13.0898 5.6511C13.6037 5.29917 14.0474 4.86341 14.4 4.36423C13.9207 4.56528 13.4122 4.69713 12.8916 4.75538C13.4398 4.44468 13.8502 3.956 14.0462 3.38029C13.5307 3.66988 12.9667 3.87396 12.3786 3.98374C11.5646 3.16431 10.2711 2.96375 9.22342 3.49452C8.17579 4.0253 7.63455 5.15541 7.90321 6.25116C5.79167 6.15095 3.82435 5.20679 2.49086 3.65366C1.79383 4.78962 2.14986 6.24285 3.30391 6.97239C2.88599 6.96067 2.47717 6.85394 2.11198 6.66122C2.11198 6.67139 2.11198 6.68206 2.11198 6.69272C2.11232 7.87616 2.99351 8.89545 4.21886 9.12979C3.83223 9.2296 3.42658 9.2442 3.03306 9.17244C3.3771 10.1852 4.36302 10.879 5.48657 10.8989C4.55664 11.5908 3.40788 11.9664 2.22513 11.9653C2.01618 11.9649 1.80744 11.9529 1.59998 11.9294C2.80094 12.659 4.19833 13.046 5.62532 13.0442"
      fill="currentcolor" />
  </svg>
</template>