<template>
  <div class="w-full bg-secondary-base text-white quickSand">
    <!-- Links -->
    <div class="mx-6 lg:mx-auto container_default footer_container flex flex-wrap">
      <div class="w-full lg:w-1/5 flex justify-center lg:justify-start">
        <div class="footer_text_container">
          <div class="text-xm lg:text-s font-bold text-neutral-ultra-light">Nous contacter</div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" @click="email">Contact@marchesonline.com</a></div>
          <div class="mt-4 text-m lg:text-xs font-medium">0 820 320 901 <br> (0,12cts/min + prix d’un appel)</div>
          <div class="flex mt-4">
            <IconsFacebook class="mr-2"></IconsFacebook>
            <IconsTwitter class="mr-2"></IconsTwitter>
            <IconsLinkedin></IconsLinkedin>
          </div>
        </div>
      </div>
      <div class="mt-12 lg:mt-0 w-full lg:w-1/5 flex justify-center lg:justify-start">
        <div class="footer_text_container">
          <div class="text-s font-bold text-neutral-ultra-light">Marchés Online</div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/nous-connaitre/raison-d-etre-et-valeurs">Raison d’être et valeurs</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark">Mentions légales & CGU</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark">CGV</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark">Informations personnelles</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark">Paramétrage cookie</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark">Fil RSS</a></div>
        </div>
      </div>
      <div class="mt-12 lg:mt-0 w-full lg:w-1/5 flex justify-center lg:justify-start">
        <div class="footer_text_container">
          <div class="text-s font-bold text-neutral-ultra-light">Acheteurs</div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/solutions-acheteur/pack-mol">Pack Marchés Online</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/solutions-acheteur/pack-sourcing">Pack Sourcing</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/solutions-acheteur/datalab-marches">DataLab Marchés</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/solutions-acheteur/e-fournisseurs">E-fournisseurs</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/solutions-acheteur/publication-diffusion">Publication & Diffusion</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/solutions-acheteur/demat-a-l-acte">Démat' à l'acte</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/solutions-acheteur/e-contacts">E-Contacts</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/nous-connaitre/supports-publication">Nos supports de publication</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/nous-connaitre/habilitations-shal">Nos habilitations SHAL</a></div>
        </div>
      </div>
      <div class="mt-12 lg:mt-0 w-full lg:w-1/5 flex justify-center lg:justify-start">
        <div class="footer_text_container">
          <div class="text-s font-bold text-neutral-ultra-light">Entreprises</div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/offres-entreprises">Offres entreprises</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/nous-connaitre/sources-information">Nos sources d'information</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/rechercher-un-avis">Recherche un avis</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/appels-offres/avis-par-region">Avis par région</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" href="/appels-offres/avis-par-metier">Avis par métier</a></div>
        </div>
      </div>
      <div class="mt-12 lg:mt-0 w-full lg:w-1/5 flex justify-center lg:justify-start">
        <div class="footer_text_container">
          <div class="text-s font-bold text-neutral-ultra-light">Ressources</div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" @click="openPage('faq/faq-acheteurs/')">Actualités Commande Publique</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" @click="openPage('faq/tutoriels/')">FAQ et tutoriels</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" @click="openPage('clubs-marches-les-rencontres-de-la-commande-publique/')">Clubs Marchés</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" @click="openPage('tous-les-formulaires-de-reference-de-la-commande-publique/')">Formulaires de référence</a></div>
          <div class="mt-4"><a class=" text-m lg:text-xs font-medium link-dark" @click="openPage('prise-en-main-marches-online/')">Nos ateliers</a></div>
        </div>
      </div>
    </div>
    <div
      class="mx-6 lg:mx-auto footer_container container_default flex justify-center lg:justify-start mt-8 lg:mt-15 pb-20 lg:pb-10">
      <div class="footer_text_container lg:flex lg:items-center">
        <div class="lg:text-s text-xm font-bold text-neutral-ultra-light mr-8">Un site du groupe Moniteur</div>
        <div class="lg:text-s text-m font-medium mt-5 lg:mt-0 relative">
          <div class="p-3 flex items-center bg-white text-secondary-dark cursor-pointer" @click="open = !open">
            <div class="mr-6">Voir les sites du groupe Moniteur</div>
            <div><IconsExpandMore></IconsExpandMore></div>
          </div>
          <div v-if="open" class="absolute" style="bottom: 100%; width: 100%;">
            <ul class="bg-white text-secondary-dark">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Infopro Footer -->
  <div class="mx-6 lg:mx-auto footer2_container container_default lg:flex lg:justify-between lg:items-center">
    <div class="flex items-center justify-between">
      <div class="text-xs lg:text-s text-neutral-dark font-medium mr-6">
        Une marque du groupe Infopro Digital
      </div>
      <img src="../src/components/icons/logo_infopro.svg" class="h-4 lg:h-8">
    </div>
    <div class="mt-5 lg:mt-0 text-xs lg:text-s text-neutral-dark font-medium">
      © 2022 Infopro Digital tous droits reservés
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import IconsExpandMore from '../src/components/icons/expand_more.vue'
import IconsFacebook from '../src/components/icons/facebook.vue'
import IconsLinkedin from '../src/components/icons/linkedin.vue'
import IconsTwitter from '../src/components/icons/twitter.vue'
const open = ref(false)

const openPage = (url) => {
  window.open('https://www.infos.marchesonline.com/accueil/' + url, '_blank')
}
const email = () => {
  window.open('mailto:Contact@marchesonline.com', '_blank')
}
</script>

<style lang="scss" scoped>
.container_default {
  @media (min-width: 1024px) {
    max-width: 976px;
  }

  @media (min-width: 1280px) {
    max-width: 1300px;
  }
}
.footer_container {
  padding-top: 80px;

  @media (min-width: 1024px) {
    padding-top: 60px;
  }
}

.footer2_container {
  height: auto;
  padding: 20px 10px;

  @media (min-width: 1024px) {
    height: 72px;
    padding: 0;
  }
}

.footer_text_container {
  width: 300px;

  @media (min-width: 1024px) {
    width: auto;
  }
}
</style>